<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%-include("../share/header.ejs")%>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to1 <%= title %></p>
    <%-include("../share/footer.ejs")%>
    <script></script>
  </body>
</html>
